<launch>

  <arg name="enable_ekf" default="$(optenv ENABLE_EKF false)"/>

  <rosparam command="load" file="$(find jackal_control)/config/control.yaml" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="jackal_joint_publisher jackal_velocity_controller" />

  <group if="$(arg enable_ekf)" >
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
      <rosparam command="load" file="$(find jackal_control)/config/robot_localization.yaml" />
    </node>

    <group if="$(optenv JACKAL_IMU_MICROSTRAIN 0)">
      <!-- Optionally load the configuration for the Microstrain-family IMU -->
      <rosparam>
        ekf_localization:
          imu1: microstrain/imu/data
          imu1_config: [false, false, false,
                      true, true, true,
                      false, false, false,
                      true, true, true,
                      false, false, false]
          imu1_differential: false
      </rosparam>
      <param name="ekf_localization/imu1" value="$(optenv JACKAL_IMU_MICROSTRAIN_NAME microstrain)/imu/data"/>
    </group>
  </group>

  <node pkg="twist_mux" type="twist_mux" name="twist_mux">
    <rosparam command="load" file="$(find jackal_control)/config/twist_mux.yaml" />
    <remap from="cmd_vel_out" to="jackal_velocity_controller/cmd_vel"/>
  </node>

  <group if="$(optenv JACKAL_CONTROL_EXTRAS 0)" >
    <rosparam command="load" file="$(env JACKAL_CONTROL_EXTRAS_PATH)" subst_value="true" />
  </group>

</launch>
